/* 首页分类框展示 */
.categoryGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  height: 24%;
  width: 100%;

  animation: slide-in 0.6s 0.2s backwards;
}

a.categoryButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 18px 8px 14px;
  border-radius: 60px;
  margin-bottom: 12px;
  color: #fff;
  width: 94px;
  position: relative;
}
a.categoryButton.red:hover,
a.categoryButton.blue:hover{
  background-position: 100% 0;
  cursor: pointer;
  color: #fff;
}
.categoryButtonText {
  margin-left: auto;
}
a.categoryButton svg,
a.categoryButton i {
  font-size: 22px;
  line-height: 1;
}

a.categoryButton.blue {
  background: linear-gradient(to right, #0028ec, #01ecff);
  background-size: 200%;
}
a.categoryButton.red {
  background: linear-gradient(to right, #f41800, #efce00);
  background-size: 200%;
}
a.categoryButton.green {
  background: linear-gradient(to right, #18e7ae, #1eebeb);
  background-size: 200%;
}

@media screen and (max-width: 768px) {
  .categoryGroup {
    display: none;
  }
}

[data-theme="dark"] a.categoryButton.blue {
  background: linear-gradient(to right, #0653b8, #2fcbff);
  background-size: 200%;
}
[data-theme="dark"] a.categoryButton.red {
  background: linear-gradient(to right, #e22a16, #da980c);
  background-size: 200%;
}
[data-theme="dark"] a.categoryButton.green {
  background: linear-gradient(to right, #099e74, #0ea4a4);
  background-size: 200%;
}
